.sfdx/sfdx-config.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/AIApplication.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/ApexClass.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/ApexTrigger.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/AppMenu.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/Community.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomLabels.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomMetadata.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomNotificationType.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomObject_Account.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomObject_Event.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomObject.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomPermission.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomSite.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/CustomTab.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/Flow.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/LeadConvertSettings.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/LightningComponentBundle.json
.sfdx/orgs/liam.jeong@5sinfusion.com/metadata/metadataTypes.json
.sfdx/typings/lwc/apex/LeadFormController.d.ts
